@import url(https://fonts.googleapis.com/css?family=Lily+Script+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  margin: 0;
  font-family: arial, tahoma, sans-serif;
  font-size: 12px;
  font-weight: normal;
  direction: ltr;
  background: white;
}

form {
  margin: 10% auto 0 auto;
  width: 400px;
  height: auto;
  overflow: hidden;
  background: white;
  border-radius: 10px;
  border-color: #EC008C;
}

form label {
  font-size: 14px;
  color: darkgray;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

h4 {
  width: 400px;
  font-family: "Lily Script One", cursive;
  font-size: 40px;
  color: lightgray;
}

form label,
form input {
  float: left;
  clear: both;
  color: black;
}

form input {
  margin: 15px 0;
  padding: 15px 10px;
  font-family: "Open Sans", sans-serif;
  width: 80%;
  outline: none;
  border: 1px solid #bbb;
  border-radius: 20px;
  display: inline-block;
}

form input[type="text"]:focus,
form input[type="password"]:focus {
  border-color: cornflowerblue;
}

input[type="submit"] {
  padding: 15px 50px;
  width: auto;
  background: #EC008C;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

input[type="submit"]:active {
  opacity: 0.4;
}
